<html>
<head> 
	<title>Teste</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta http-equiv="Pragma" content="no-cache">
	<link rel="stylesheet" href="/PortalOsx/css/style.css">
</head>

<body bgcolor="#FFFFFF" style="margin:0px" >



<table width="779" height="383" border="0" cellpadding="0" cellspacing="0" background="/PortalOsx/imagens/fundo.gif">
  <!--DWLayoutTable-->

<tr>
<td width="101" height="54">&nbsp;</td>
<td width="430">&nbsp;</td>
<td width="103">&nbsp;</td>
<td width="145" rowspan="3" align="left" valign="top">
	<table width="100" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="/PortalOsx/imagens/dicasDeUtilizacao.gif" width="141"
					height="19"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="left" valign="top">
				<p>Edita a saida do Xml do parser .</p>
				<p>Selecione os campos que devem est&aacute; na saida do arquivo, e click no bot&atilde;o de salvar. </p></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>

				<td>&nbsp;</td>
			</tr>
		</table></td>
</tr>
<tr>
  <td height="76">&nbsp;</td>
  <td align="center" valign="middle"><p><strong>O arquivo do Parser foi alterado com sucesso.</strong></p>    <p><strong>Reinicie o Parser para que as altera&ccedil;&otilde;es tenham efeito imediato! </strong></p></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td height="279">&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table>
</body>
</html>
