<html>
<head>
<title>Selec&ccedil;&atilde;o de Per&iacute;odos</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/PortalOsx/css/style.css" type="text/css">
<script language="JavaScript" charset="ISO-8859-1" type="text/JavaScript">
<!--
function AbreJanela(event,Tipo, Features)
{
   var NovaJanela;
   var CoordX, CoordY;
   var Perfil = document.icones.perfil.value;
   var TipoRel = document.icones.tiporel.value;
   var IdRel = document.icones.idrel.value;
   var NomeArquivo = document.icones.arquivo.value;
   var NomeRelatorio = document.icones.nomerel.value;
   var DataGeracao = document.icones.datageracao.value;

   CoordX = event.screenX;
   CoordY = event.screenY;

   if (Tipo == "paginas")
   {
      CoordX -=  90;
      CoordY -= 190;
      URLStr = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=pagselecaopaginas&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao;
      Features += ",left=" + CoordX + ",top=" + CoordY;
      NovaJanela = window.open(URLStr, 'Paginas', Features);
   }
   else if (Tipo == "periodos")
   {
      CoordX -= 80;
      CoordY -= 305;
      URLStr = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=pagperiodos&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao;
      Features += ",left=" + CoordX + ",top=" + CoordY;
      NovaJanela = window.open(URLStr, 'Periodos', Features);
   }
   else if (Tipo == "configuracao")
   {
      CoordX -= 160;
      CoordY -= 480;
      URLStr = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=pagconfiguracao&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao;
      Features += ",left=" + CoordX + ",top=" + CoordY;
      NovaJanela = window.open(URLStr, 'Configuracao', Features);
   }

   NovaJanela.focus();
   return false;
}

function Pagina(Tipo)
{
   var Perfil = document.icones.perfil.value;;
   var TipoRel = document.icones.tiporel.value;;
   var IdRel = document.icones.idrel.value;;
   var NomeArquivo = document.icones.arquivo.value;;
   var NomeRelatorio = document.icones.nomerel.value;
   var DataGeracao = document.icones.datageracao.value;

   //
   // Altera o "location" da janela de relat&oacute;rio
   //
   JanelaRelatorio = window.parent.frames[1];
   JanelaRelatorio.location = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=meiorelatorio&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao+"&navega="+Tipo;

   //
   // Altera o "location" da janela de icones
   //
   JanelaIcones = window.parent.frames[2];
   JanelaIcones.location = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=baserelatorio&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao;
   return false;
}

function Home(Tipo)
{
   var Perfil = document.icones.perfil.value;;
   var TipoRel = document.icones.tiporel.value;;
   var IdRel = document.icones.idrel.value;;
   var NomeArquivo = document.icones.arquivo.value;;
   var NomeRelatorio = document.icones.nomerel.value;
   var DataGeracao = document.icones.datageracao.value;

   //
   // Altera o "location" da janela de relat&oacute;rio
   //
   JanelaRelatorio = window.parent.frames[1];
   JanelaRelatorio.location = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=home&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao+"&tipo="+Tipo;

   //
   // Altera o "location" da janela de icones
   //
   JanelaIcones = window.parent.frames[2];
   JanelaIcones.location = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=baserelatorio&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao;
   return false;
}

function MudaPagina()
{
//alert ("Aqui")
   var Perfil = document.icones.perfil.value;;
   var TipoRel = document.icones.tiporel.value;;
   var IdRel = document.icones.idrel.value;;
   var NomeArquivo = document.icones.arquivo.value;;
   var NomeRelatorio = document.icones.nomerel.value;
   var DataGeracao = document.icones.datageracao.value;
   var Pag = document.icones2.paginacao.value;

   //
   // Altera o "location" da janela de relat&oacute;rio
   //
   JanelaRelatorio = window.parent.frames[1];
   JanelaRelatorio.location = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=meiorelatorio&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao+"&navega="+Pag;

   //
   // Altera o "location" da janela de icones
   //
   JanelaIcones = window.parent.frames[2];
   JanelaIcones.location = "/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=baserelatorio&perfil="+Perfil+"&tiporel="+TipoRel+"&idrel="+IdRel+"&arquivo="+NomeArquivo+"&nomerel="+NomeRelatorio+"&datageracao="+DataGeracao;
   return false;
}
//-->
</script>
<style type="text/PortalOsx/css">  
#divUpControl{
	position:absolute;
	width:68px;
	left:431px;
	top:317px;
	z-index:1;
	text-align: right;
	height: 19px;
} 
#divDownControl{
	position:absolute;
	width:17px;
	left:379px;
	top:11px;
	z-index:1;
	text-align: right;
	height: 47px;
} 
#divContainer{
	position:absolute;
	width:550px;
	height:41px;
	overflow:hidden;
	top:9px;
	left:18px;
	clip:rect(0,560,41,0);
	visibility: visible;
} 
#divContent{
	position:absolute;
	top:0;
	left:0;
} 
</style>
</head>

<body bgcolor="#BBBDBB" text="#000000">

<div id="Layer1" style="position:absolute; left:615px; top:7px; width:105px; height:46px; z-index:2">
   <img src="/PortalOsx/imagens/iconesreltrafego.gif" border="0" usemap="#Map2">

<form name="icones" method="post" action="/PortalOsx/servlet/Portal.cPortal">
<input type="hidden" name="perfil" value="$ARG;">
<input type="hidden" name="tiporel" value="$ARG;">
<input type="hidden" name="idrel" value="$ARG;">
<input type="hidden" name="arquivo" value="$ARG;">
<input type="hidden" name="nomerel" value="$ARG;">
<input type="hidden" name="datageracao" value="$ARG;">
<input type="hidden" name="operacao" value="apresentaRelHistoricoTrafego">
<input type="hidden" name="suboperacao" value="">
   <map name="Map2">
     <area shape=rect coords="0,0,19,18"     href="#"  alt="Visualiza relat&oacute;rio"                       OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="AbreJanela(event,'paginas','resizable=no,status=no,scrollbars=no,width=265,height=145')">
     <area shape=rect coords="22,0,142,18"   href="#"  alt="Per&iacute;odo"                                   OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="AbreJanela(event,'periodos','resizable=no,status=no,scrollbars=no,width=265,height=265')">
     <area shape=rect coords="145,0,164,18"  href="#"  alt="Configura&ccedil;&atilde;o de visualiza&atilde;o" OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="AbreJanela(event,'configuracao','resizable=no,status=no,scrollbars=no,width=265,height=420')">
     <area shape=rect coords="0,21,19,39"    href="#"  alt="Vai para o in&iacute;cio"                         OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="Home('inicio')">
     <area shape=rect coords="22,21,41,39"   href="#"  alt="P&aacute;gina anterior"                           OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="Pagina('anterior')">
     <area shape=rect coords="123,21,142,39" href="#"  alt="Pr&oacute;xima p&aacute;gina"                     OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="Pagina('proxima')">
     <area shape=rect coords="145,21,164,39" href="#"  alt="Vai para o fim"                                   OnMouseOut="window.status=''; return true"  OnMouseOver="window.status=''; return true" onClick="Home('fim')">
   </map>
</form>
</div>

<div id="Layer1" style="position:absolute; left:661px; top:27px; width:30px; height:46px; z-index:2">
<form name="icones2" method="" action="" onSubmit="return MudaPagina()">
   <input type="text" name="paginacao" value="$ARG;" class="inputtext" style="border:1px solid black" size="12" onBlur="MudaPagina()">
</form>
</div>
</body>
</html>
