<html>
<head>
<title>CDRView | Visent - Hist&oacute;rico: $ARG;</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></title>
</head>

<frameset rows="*" frameborder="NO" border="0" framespacing="0" cols="*"> 
  <frame name="central" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistoricoTrafego&suboperacao=paginicial2&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="NO" noresize>
</frameset>
<noframes><body bgcolor="#FFFFFF">

</body></noframes>
</html>
