<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="expires" content="0">
$ARG;
<link rel="stylesheet" href="/PortalOsx/css/style.css" type="text/css">
<script language="JavaScript" charset="ISO-8859-1" type="text/JavaScript">
</script>
</head>

<body text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="grafico" method="post" action="/PortalOsx/servlet/Portal.Portal">
<input type="hidden" name="perfil" value="$ARG;">
<input type="hidden" name="tiporel" value="$ARG;">
<input type="hidden" name="idrel" value="$ARG;">
<input type="hidden" name="arquivo" value="$ARG;">
<input type="hidden" name="nomerel" value="$ARG;">
<input type="hidden" name="datageracao" value="$ARG;">
<input type="hidden" name="indicadores" value="">
<input type="hidden" name="zoom" value="">
<input type="hidden" name="operacao" value="apresentaRelHistorico">
<input type="hidden" name="suboperacao" value="">


<table width="100%" border="0" cellpadding="6" cellspacing="0">
$ARG;
</table>
</font>

</form>
</body>
</html>
