<html>
<head>
<title>CDRView: $ARG;</title>
<link rel="stylesheet" href="/PortalOsx/css/style.css" type="text/css">
</head>
<body>

<table width="100%" border="0" cellpadding="3" cellspacing="0">
	<tr>
		<td align="left" ><p><b>OSx Telecom - CDRView <sup>&reg;</sup></b><br>
			<small>Copyright 1999 - 2004</small></p>
		</td>
   	
		<td align="right" >
			<img src="/PortalOsx/imagens/logo_cliente.gif"> 
		</td>
	</tr>
</table>

<!-- In&iacute;cio da tabela contendo o cabeçalho -->
$ARG;
<!-- Fim da tabela contendo o cabeçalho -->

<!-- In&iacute;cio da tabela contendo o relat&oacute;rio -->
$ARG;
<!-- Fim da tabela contendo o relat&oacute;rio -->

<br>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
$ARG;
   <tr>
      <td colspan="2">&nbsp;</td>
   </tr>
$ARG;
</table>
<!-- ARG; -->
</body>
</html>
