<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<link rel="stylesheet" href="/PortalOsx/css/style.css">

</head>

<body bgcolor="#FFFFFF" style="margin:0px">
<table width="780" height="383" border="0" cellspacing="0" cellpadding="0" background="/PortalOsx/imagens/fundo.gif">
  <tr> 
    <td width="13">&nbsp;</td>
    <td width="579" valign="top"> 
      <table width="546" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><img src="/PortalOsx/imagens/certificacao.gif"></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
  <tr>
    <td width="734" height="987" valign="top"> 
      <p align="center"><b><a name="topo"></a></b></p>
        <br>
		<b>Links</b><br>
        <a href="#instalacao" class="link">Instala&ccedil;&atilde;o</a><br>
        <a href="#introducao" class="link">Introdu&ccedil;&atilde;o</a><br>
        <a href="#certificacao" class="link">Certifica&ccedil;&atilde;o</a><br>
        <a href="#cdrview" class="link">O CDRView Cliente</a><br>
        <a href="#utilizacao" class="link">Utiliza&ccedil;&atilde;o</a><br>
        <br>
        <br></p>
      <b><a name="instalacao"></a>Instala&ccedil;&atilde;o</b><br>
        Clique no link abaixo (<u>Instalar Certificado</u>). Ao t&eacute;rmino do download do 
		arquivo de certifica&ccedil;&atilde;o, selecione a op&ccedil;&atilde;o <i>Abrir</i>. 
        Proceda &agrave; instala&ccedil;&atilde;o do certificado de acordo com 
        as instru&ccedil;&otilde;es que ser&atilde;o apresentadas no aplicativo 
        de instala&ccedil;&atilde;o de certificados.<br>
      <p align="center"><b><a href="/PortalOsx/plugin/cdrview.cer" onmouseover="window.status='Instalar certificado';return true;" onmouseout="window.status='';return true;" class="link">Instalar 
        Certificado</a></b></p>
      <b><a name="introducao"></a>Introdu&ccedil;&atilde;o</b><br>
        Um <i>applet</i> &eacute; um aplicativo desenvolvido utilizando-se a linguagem 
        de programa&ccedil;&atilde;o Java. Ele &eacute; executado automaticamente 
        quando baixado pela rede (WEB). Por natureza, um applet n&atilde;o tem 
        permiss&atilde;o para acessar recursos locais tais como os discos r&iacute;gidos. 
        Dessa forma, ele &eacute; incapaz de apagar dados de seu HD. Contudo, 
        essa restri&ccedil;&atilde;o tamb&eacute;m n&atilde;o possibilita que 
        um applet escreva arquivos no HD.<br><br>
        Por&eacute;m, 
        existe uma maneira de garantir a um applet permiss&otilde;es de acesso 
        a recursos locais. Isso &eacute; feito gerando-se uma assinatura digital 
        e agregando-a ao arquivo contendo o applet. Diz-se, ent&atilde;o, que 
        o applet &eacute; <i>digitalmente assinado</i>.
      <p align="right"><a href="#topo" class="link">Topo da p&aacute;gina</a></p>
      <b><a name="certificacao"></a>Certifica&ccedil;&atilde;o</b><br>
        Certifica&ccedil;&atilde;o &eacute; o processo de instala&ccedil;&atilde;o 
        de um certificado que permitir&aacute; a verifica&ccedil;&atilde;o e valida&ccedil;&atilde;o 
        de um applet digitalmente assinado. Caso o applet seja validado, ele poder&aacute; 
        utilizar os recursos locais da m&aacute;quina na qual est&aacute; sendo 
        executado.<br>
      <p align="right"><a href="#topo" class="link">Topo da p&aacute;gina</a></p>
      <b><a name="cdrview"></a>O  CDRView Cliente</b><br>
        O <font color="#0033CC">CDRView Cliente</font> &eacute; um applet e, como 
        j&aacute; citado anteriormente, n&atilde;o &eacute; capaz de acessar os 
        recursos locais. Isto lhe impossibilita de salvar os relat&oacute;rios 
        gerados no disco r&iacute;gido local. Por&eacute;m, o <font color="#0033CC">CDRView 
        Cliente</font> &eacute; um applet digitalmente assinado. 
        Uma vez que o seu respectivo certificado tiver sido instalado, ele poder&aacute; 
        utilizar os recursos locais, podendo realizar a exporta&ccedil;&atilde;o 
        de relat&oacute;rios gerados para arquivos.<br><br>
        &Eacute; importante ressaltar que o acesso pelo <font color="#0033CC">CDRView
        Cliente</font> aos seus discos r&iacute;gidos <u>n&atilde;o 
        causar&aacute; </u>nenhum dano a sua estrutura de arquivos.
      <p align="right"><a href="#topo" class="link">Topo da p&aacute;gina</a></p>
      <a name="utilizacao"></a><b>Utiliza&ccedil;&atilde;o</b><br>
        Na primeira vez que voc&ecirc; utilizar o <font color="#0033CC">CDRView Cliente</font> 
        ap&oacute;s a instala&ccedil;&atilde;o do certificado, aparecer&aacute; 
        a caixa de di&aacute;logo abaixo:</p>
      <p align="center"><img src="/PortalOsx/imagens/secwarning.gif" width="447" height="255" border="1"></p>
        Clique em <i>Grant always</i>.<br>
        Agora o <font color="#0033CC">CDRView Cliente</font> est&aacute; pronto para 
        acessar os discos de sua esta&ccedil;&atilde;o de trabalho para que seja 
        poss&iacute;velo salvar os relat&oacute;rios gerados.<br>
      <p align="right"><a href="#topo" class="link">Topo da p&aacute;gina</a></p>
	</td>
	</tr>
</table>
<center>
</center>

</body>
</html>
