<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<link rel="stylesheet" href="/PortalOsx/css/style.css">

</head>

<body bgcolor="#FFFFFF" style="margin:0px">
<table width="780" height="383" border="0" cellspacing="0" cellpadding="0" background="/PortalOsx/imagens/fundo.gif">
  <tr>
    <td width="13">&nbsp;</td>
    <td width="579" valign="top">
      <table width="546" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/PortalOsx/imagens/javaplugin.gif"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
  <tr>
    <td width="734" height="987" valign="top">
      <p align="center"><b><a name="topo"></a></b></p>
        <br>
		<b>Links</b><br>
        <a href="#download" class="link">Download</a><br>
        <a href="#jre" class="link">Java Runtime Environment</a><br>
        <a href="#configuracao" class="link">Configura&ccedil;&atilde;o</a><br>
        <br>
        <br></p>
      <b><a name="download"></a>Download</b><br>
        Clique no link abaixo (<u>Download plug-in</u>). Ao t&eacute;rmino do download do
		arquivo de <i>plug-in</i>, execute o mesmo a partir do diret&oacute;rio onde ele foi salvo.<br>
      <p align="center"><b><a href="/PortalOsx/plugin/j2re-1_4_2_05-windows-i586-p.exe" onmouseover="window.status='Download plug-in';return true;" onmouseout="window.status='';return true;" class="link">Download plug-in</a></b></p>
      <b><a name="jre"></a>Java Runtime Environment</b><br>
        O "Java(TM) 2 Runtime Environment", ou JRE, cont&eacute;m a máquina virtual Java,
        as classes de bibliotecas e o inicializador de aplica&ccedil;&otilde;es Java que
        s&atilde;o necessários para executar programas escritos na linguagem de programa&ccedil;&atilde;o Java.<br>
        O <i>plug-in</i> aqui dispon&iacute;vel permite que o Internet Explorer suporte aplica&ccedil;&otilde;es
        que utilizem a plataforma Java 2, que &eacute; o caso do <font color="#0033CC">CDRView Cliente</font>.
      <p align="right"><a href="#topo" class="link">Topo da p&aacute;gina</a></p>
      <b><a name="#configuracao"></a>Configura&ccedil;&atilde;o</b><br>
        Uma vez instalado o <i>plug-in</i> java, execute-o atrav&eacute;s do atalho: Iniciar / Programas / Java <i>plug-in</i> Control Panel.<br>
        Proceda à configura&ccedil;&atilde;o como ilustra a figura abaixo.<br>
      <p align="center"><img src="/PortalOsx/imagens/cfgplugin.gif" width="400" height="350" border="1"></p>
      <p align="right"><a href="#topo" class="link">Topo da p&aacute;gina</a></p>
	</td>
	</tr>
</table>
<center>
</center>

</body>
</html>
