<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/PortalOsx/css/style.css">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="1" bgcolor="#FFFFFF"><img src="/PortalOsx/imagens/1x1.gif" width="1" height="1"></td>
  </tr>
  <tr> 
    <td height="74" bgcolor="0D1237">
	   <img src="/PortalOsx/imagens/logo.gif" width="316" height="74" border="0"><img src="/PortalOsx/imagens/meio.gif" width="288" height="74"><img src="/PortalOsx/imagens/direita.gif" width="182" height="74">
	</td>
  </tr>
  <tr> 
    <td height="1" bgcolor="#FFFFFF"><img src="/PortalOsx/imagens/1x1.gif" width="1" height="1"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td height="1"><img src="/PortalOsx/imagens/1x1.gif" width="1" height="1"></td>
  </tr>
</table>


<div id="marca" style="position:absolute; left:640px; top:100px; width:126px; height:74px; z-index:1">
  <img src="/PortalOsx/imagens/logo_cliente.gif" width="133" height="68"></div>
</body>
</html>
