<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="*" cols="580, *" framespacing="0" frameborder="no" border="0">
  <frame name="topo" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistorico&suboperacao=meiorelatorioesquerda&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="no" id="esquerda">
  <frame name="base" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistorico&suboperacao=relatoriodireita&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;"      scrolling="no" id="esquerda">
</frameset>
<noframes><body>
</body></noframes>
</html>
