<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="205,205, *" cols="*" framespacing="0" frameborder="no" border="0">
  <frame name="topodireita" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistorico&suboperacao=benchmarking&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;"  scrolling="NO" id="topoDireita" noresize>
  <frame name="meiodireita" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistorico&suboperacao=valoresmedios&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="no" id="baseDireita" noresize>
  <frame name="basedireita" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelHistorico&suboperacao=baserelatoriodireita&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="no" id="baseDireita" noresize>
</frameset>
<noframes><body>

</body></noframes>
</html>
