<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Configura&ccedil;&atilde;o de Visualiza&ccedil;&atilde;</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/PortalOsx/css/style.css" type="text/css">
<script language="JavaScript" charset="ISO-8859-1" src="/PortalOsx/templates/js/agendaconfiguracao.js" type="text/JavaScript"></script>
</head>

<body onLoad="SelecionaConfiguracaoPadrao()">
<form name="configuracao" method="post" action="/PortalOsx/servlet/Portal.cPortal">
<input type="hidden" name="perfil" value="$ARG;">
<input type="hidden" name="tiporel" value="$ARG;">
<input type="hidden" name="idrel" value="$ARG;">
<input type="hidden" name="arquivo" value="$ARG;">
<input type="hidden" name="nomerel" value="$ARG;">
<input type="hidden" name="datageracao" value="$ARG;">
<input type="hidden" name="tipovisualizacao" value="$ARG;">
<input type="hidden" name="qtdlinhas" value="$ARG;">
<input type="hidden" name="apresentacabecalho" value="$ARG;">
<input type="hidden" name="apresentalogs" value="$ARG;">
<input type="hidden" name="temperiodos" value="$ARG;">
<input type="hidden" name="operacao" value="apresentaRelAgendado$ARG;">
<input type="hidden" name="suboperacao" value="alteraconfiguracao">
<input type="hidden" name="configuracao" value="">

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td><img src="/PortalOsx/imagens/configuracao.gif"></td>
    </tr>
    <tr> 
      <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">
	         Configure como ser&aacute; visualizado o relat&oacute;rio:
		  </font>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>

  <table width="100%" border="0" cellspacing="0" cellpadding="2">

      <tr>
         <td colspan="2"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Forma de visualiza&ccedil;&atilde;o:</font>
            <select name="listatipovisualizacao" class="select">
            <option value="html">HTML</option>
            <option value="excel">CSV</option>
            </select>
         </td>
      </tr>

      <tr>
         <td colspan="2"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Linhas por p&aacute;gina:</font>
            <select name="listaqtdlinhas" class="select">
            <option value="0">21</option>
            <option value="1">50</option>
            <option value="2">100</option>
            <option value="3">200</option>
            <option value="4">400</option>
            <option value="5">500</option>
            </select>
         </td>
      </tr>

      <tr>
         <td  colspan="2" width="3%"><input type="checkbox" name="checkbox" value="cabecalho">&nbsp;&nbsp;<font size="1" face="Verdana, Arial, Helvetica, sans-serif">Cabe&ccedil;alho</font></td>
<!--         <td height="22"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Cabe&ccedil;alho</font></td> -->
      </tr>

      <tr>
         <td  colspan="2" width="3%"><input type="checkbox" name="checkbox" value="logs">&nbsp;&nbsp;<font size="1" face="Verdana, Arial, Helvetica, sans-serif">Logs</font></td>
<!--         <td height="22"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Logs</font></td> -->
      </tr>

$ARG;

  </table>
  <p><input type="reset" name="limpar" value="  Limpar  " class="button">&nbsp;&nbsp;&nbsp;<input type="submit" name="button" value="Selecionar" class="button" onClick="return SelecionaConfiguracao()"></p>
</form>
</body>
</html>
