<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<link rel="stylesheet" href="/PortalOsx/css/style.css">
</head>

<body bgcolor="#FFFFFF" style="margin:0px">
<table width="780" height="383" border="0" cellspacing="0" cellpadding="0" background="/PortalOsx/imagens/fundo.gif">
  <tr> 
    <td width="12">&nbsp;</td>
    <td width="580" valign="top"> 
      <table width="546" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><img src="/PortalOsx/imagens/$ARG;"></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td>
		      <b>&nbsp;Seja bem-vindo ao CDRView Web!<br>
                 &nbsp;Escolha uma op&ccedil;&atilde;o no menu acima.</b>
		  </td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
			<table border="0">
				<tr>
					$ARG;
				</tr>
			</table>
		  </td>
        </tr>
        <tr> 
		  <!-- Qtd de mensagens de alarmes para o administrador -->
          <td>
			<table border="0">
				<tr>
					$ARG;
				</tr>
			</table>
		  </td>
        </tr>
        <tr> 
		  <!-- Mensagens do administrador -->
          <td>$ARG;</td>
        </tr>
      </table>
      <p>&nbsp;</p>
    </td>
    <td width="142" valign="top"> 
      <table width="100" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/PortalOsx/imagens/dicasDeUtilizacao.gif" width="141" height="19"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
		  $ARG;
		  </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
