<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="expires" content="0"> 
<link rel="stylesheet" href="/PortalOsx/css/style.css">
<script type="text/javascript" language="JavaScript" charset="ISO-8859-1" $ARG;></script>
</head>

<body bgcolor="#FFFFFF" style="margin:0px" $ARG;>
<table width="780" height="383" border="0" cellspacing="0" cellpadding="0" background="/PortalOsx/imagens/fundo.gif">
  <tr> 
    <td width="13">&nbsp;</td>
    <td width="579" valign="top"> 
      <table width="546" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><img src="/PortalOsx/imagens/$ARG;"></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td>
<!-- Inicio Lista -->
$ARG;
<!-- Fim Lista -->
          </td>
        </tr>
      </table>
    </td>
    <td width="142" valign="top"> 
      <table width="100" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="/PortalOsx/imagens/dicasDeUtilizacao.gif" width="141" height="19"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top">
$ARG;
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
