<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<link rel="stylesheet" href="/PortalOsx/css/style.css">
</head>

<body bgcolor="#FFFFFF" style="margin:0px">
<table width="780" height="383" border="0" cellspacing="0" cellpadding="0" background="/PortalOsx/imagens/fundo.gif">
  <tr> 
    <td width="12">&nbsp;</td>
    <td width="580" valign="top"> 
      <table width="546" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="left"><img src="/PortalOsx/imagens/$ARG;"></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#000033">
          <td height="19"><font color="#FFFFFF"><b>$ARG; &nbsp;&nbsp;&nbsp;&nbsp;  Dia da Semana: [$ARG;] &nbsp;&nbsp;&nbsp;&nbsp;  De: [$ARG;] &nbsp;&nbsp;&nbsp; &Agrave;s: [$ARG;]</b></font></td>
        </tr>
