<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Apresenta&ccedil;&atilde;o de Logs</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/PortalOsx/css/style.css" type="text/css">
<script language="JavaScript" charset="ISO-8859-1" src="" type="text/JavaScript"></script>
</head>

<body>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td><img src="/PortalOsx/imagens/log.gif"></td>
    </tr>
  </table>
<br>
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
$ARG;
      <tr>
         <td colspan="2">&nbsp;</td>
      </tr>
$ARG;
  </table>
</form>
</body>
</html>
