<html>
<head>
<title>CDRView | Visent - Hist&oacute;rico: $ARG;</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="75,552*" frameborder="NO" border="0" framespacing="1" cols="*"> 
  <frame name="topo"    src="/PortalOsx/templates/paginas/historico/topo.htm" scrolling="NO" noresize>
  <frame name="frmmain" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=relatorio&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;">
  <!--
  <frame name="frmmain" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=relatorio&perfil=ARG;&tiporel=ARG;&idrel=ARG;&arquivo=ARG;">
  -->
</frameset>
<noframes><body bgcolor="#FFFFFF">

</body></noframes>
</html>
