<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<frameset rows="55, *" cols="*" framespacing="0" frameborder="NO" border="0">
   <frame name="topo" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=toporelatorio&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="no" id="esquerda" noresize>
   <frame name="meio" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=meiorelatorio&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="no" id="esquerda" noresize>
   
   <!--
   <frame name="meio" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=baserelatorio&perfil=$ARG;&tiporel=$ARG;&idrel=$ARG;&arquivo=$ARG;&nomerel=$ARG;&datageracao=$ARG;" scrolling="no" id="esquerda" noresize>
   -->

   <!--
   <frame name="topo" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=toporelatorio&perfil=ARG;&tiporel=ARG;&idrel=ARG;&arquivo=ARG;" scrolling="no" id="esquerda" noresize>
   <frame name="meio" src="/PortalOsx/servlet/Portal.cPortal?operacao=apresentaRelAgendadoMatraf&suboperacao=meiorelatorio&perfil=ARG;&tiporel=ARG;&idrel=ARG;&arquivo=ARG;" scrolling="no" id="esquerda" noresize>
   -->
</frameset>
<noframes><body>

</body></noframes>
</html>
